<footer class="text-center" style="position: relative; bottom: 0; width: 100%; margin-bottom: 20px; ">
    <span class="text-muted">&copy; <%= new Date().getFullYear() %> All rights reserved. Developed by <a href="https://web.facebook.com/reymond.godoy.71" class="btn-link">Reymond R. Godoy</a>.</span>
</footer>